.advantages__list {
  .reset-list();

  background-color: @dark-grey;
}

.advantages__name {
  .set-font(bold, 30px, 30px);
  color: @white;

  text-transform: uppercase;
}

.advantages__description {
  margin: 0;

  font-size: 20px;
  color: @white;
}
