.page-footer {
  .paint(@grey, #ffffff);
}

.contacts__text {
  margin: 0;
}

.contacts__phone {
  font-weight: bold;
  color: #ffffff;

  text-decoration: none;
  text-transform: uppercase;
}

.page-footer__social-title {
  display: none;
}

.social__list {
  .reset-list();
}

.copyright__link {
  color: #ffffff;

  text-decoration: none;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .contacts__phone {
    font-weight: normal;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__social-title {
    display: block;
  }
}
