.record__headline {
  margin: 0;

  .set-font(bold, 30px, 30px);

  text-transform: uppercase;
}

.record__form input,
.record__form textarea {
  .set-font(normal, 18px, 18px);
}

.record__subtitle {
  font-size: 20px;

  text-transform: uppercase;
}

.record__radio-buttons {
  .reset-list();

  list-style: none;
}

.record__radio {
  line-height: 24px;
}

.record__checkbox {
  line-height: 30px;
}

.record__submit {
  font-family: inherit;
  .set-font(bold, 18px, 24px);

  .paint(#826550, #ffffff);

  text-transform: uppercase;
}
