.reviews__headline {
  margin: 0;

  .set-font(bold, 30px, 30px);

  text-transform: uppercase;
}

.slider__item {
  margin: 0;
}

.reviews__author-photo {
  margin: 0;
}

.reviews__author-name {
  .set-font(bold, 24px, 27px);
}

.reviews__author-text {
  margin: 0;
}

.reviews__toggles {
  margin: 0;
}
