.stats {
  background-color: @dark-grey;
}

.stats__header {
  .paint(white, @black);
}

.stats__slogan {
  .set-font(bold, 30px, 30px);

  text-transform: uppercase;
}

.stats__intro {
  margin: 0;

  .set-font(normal, 20px, 27px);
}

.stats__list {
  width: 100%;

  border-collapse: collapse;

  & tr {
    background-color: #404040;
  }

  & tr:nth-child(2n) {
    background-color: #4e4e4e;
  }

  & tr:nth-child(3) {
    background-color: #353535;
  }
}

.stats__value {
  .set-font(bold, 40px, 40px);
  color: #ffffff;

  text-transform: uppercase;
}

.stats__description {
  .set-font(normal, 18px, 18px);
  color: @white;
}

.stats__legend {
  .set-font(normal, 20px, 27px);
  color: #ffffff;
  opacity: 0.3;

  &--top {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .stats__slogan {
    .set-font(bold, 40px, 40px);
  }

  .stats__legend {
    &--top {
      display: block;
      color: @black;
      opacity: 0.3;
    }

    &--bottom {
      display: none;
    }
  }

  .stats__list {
    display: block;

    & tbody {
      display: flex;
      flex-wrap: wrap;
    }

    & tr {
      display: block;
      width: 50%;

      box-sizing: border-box;
    }
  }

  .stats__value {
    .set-font(bold, 72px, 82px);
  }
}
